name: First Workflow
on: push
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print greeting
        run: echo "hii mann"
      - name: Print goodbye
        run: echo "how are youuu!"
      
   
